body {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

main {
    padding: 30px;
}

.logo img {
    width: 120px;
    height: auto;
}

.logo {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: rgb(11, 71, 202);
    font-weight: bold;
}

.toplink {
    padding: 6px 14px;
    color: white;
    text-transform: uppercase;
}

#new, .save, .delete, .text  {
    border-radius: 10px;
    background-color: rgb(30, 170, 95);
    color: white;
    padding: 8px 12px;
    margin: 5px;
}

.save:disabled {
    background-color: rgb(167, 167, 167);
    color:rgb(71, 71, 71)

}

.delete {
    background-color: rgb(211, 20, 20);

}

.text {
    background-color: rgb(209, 209, 209);
    color: black;
}
